*{
    font-family: 'Times New Roman', Times, serif;
}
.homeHead{
    padding-top: 30px;
    font-size: 80px;
    text-align: center;
    font-weight: bold;
}

.container{
    margin-top: 50px;
    font-size: 22px;
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.underline{
    display: block;
    border-top: 10px solid black;
}

.projectsBanner{
    font-size: 30px;
}

ul li{
    display: inline;
    padding-right: 10px
}

.projects{
    padding-left: 30px;
}