*{
    font-family:'Times New Roman', Times, serif
}
.homeHead{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.container{
    margin-top: 50px;
    font-size: 22px;
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}