*{
    font-family: 'Times New Roman', Times, serif;
}
.homeHead{
    margin-top: 130px;
    font-size: 80px;
    text-align: center;
    font-weight: bold;
}

.mainNav{
    margin-left: 80px;
    display: inline;
}

.container{
    margin-top: 50px;
    font-size: 22px;
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: 15%;
    text-decoration: none;
    display: inline;
}

.underline{
    display: block;
    width: fill;
    border-top: 7px solid black;
}

.projectsBanner{
    font-size: 30px;
}

ul li{
    display: inline;
    padding-right: 10px
}

.projects{
    padding-left: 80px;
    display: inline;
}

.pb{
    font-size: 20px;
    text-decoration: none;
    color: black;
}